{% extends 'base.html' %}
{% block title %}Welcome{% endblock %}

{% block content %}
<style>
    .container{
        text-align: center;
    }
    .logout__link{
        text-decoration: underline;
        transition: 0.3s all;
        color: black;

    }
    .logout__link:hover{
        color: #00BFFF;
    }
    
</style>
    <div class="container">
        <h1>Добро пожаловать, {{ new_user.username }}!</h1>
        <p>Ты успешно зарегестрировался. Теперь <a href="{% url "login" %}" class="logout__link">залогинься)</a></p>
    </div>
{% endblock  %}