{% extends 'base.html' %}

{% block title %}Create an account{% endblock  %}

{% block content %}
<style>
    form{
        display: block;
        padding: 0 20px;
    }
    form label{
        display:none
    }
    form p{
       display: flex;
       align-items: center;
       flex-direction: column-reverse;
    }
    form span{
        margin-bottom: 20px;
    }
    form input{
        outline: none;
        display: block;
        margin: 0 auto;
        border-radius: 20px;
        border: none;
        padding: 10px;
        padding-left: 30px;
        font-size: 16px;
    }
    .form__title{
        text-align: center;
    }
    .form__descr{
        text-align: center;
        font-size: 14px;
    }
    .login-form{
        padding: 20px 0;
        border-radius: 20px;
        margin: 0 auto;
        margin-top: 50px;
        max-width: 500px;
        background-color: #77DD77;
    }
    .btn{
        cursor: pointer;
        display: block;
        min-width: 300px;
        padding: 16px 0;
        background-color: #ffb833;
        transition: 0.3s all;
    }
    .btn:hover{
        background-color: #FFA500;
    }
    .login__link{
        text-decoration: underline;
        transition: 0.3s all;
        color: black;
    }
    .login__link:hover{
        color: #00BFFF;
    }
    
</style>
    <div class="login-form">
        <h1 class="form__title">Создайте аккаунт</h1>
        <div class="login-form">
            <form action="." method="POST" class="form__login">
                {{ user_form.as_p }}
                {% csrf_token %}
                <p><input type="submit" value="Create my account" class="btn"></p>
            </form>
        </div>
    </div>
{% endblock  %}