{% extends 'base.html' %}
{% block title %}Logged out{% endblock %}
{% block content %}
<style>
    .container{
        text-align: center;
    }
    .logout__link{
        text-decoration: underline;
        transition: 0.3s all;
        color: black;

    }
    .logout__link:hover{
        color: #00BFFF;
    }
    
</style>
    <div class="container">
        <h1>Logged out</h1>
        <p>Вы вышли из системы. Вы можете <a href="{% url 'login' %}" class="logout__link">войти</a> в систему снова</p>
    </div>
    
{% endblock  %}